APP_NAME=Fengshui GIS
DEBUG=true
USE_MOCK_DATA=true
DEM_PATH=./data/dem/sample_dem.tif
VECTOR_WATER_PATH=./data/vector/water.geojson
VECTOR_ROAD_PATH=./data/vector/road.geojson
LLM_ENABLED=false
LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL=
